[Unit]
Description=Brickd USB interface to bricks and bricklets

[Service]
StartLimitIntervalSec=0
RestartSec=1
Restart=on-failure
ExecStart=/usr/bin/brickd

[Install]
WantedBy=basic.target